.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
  max-width: 720px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 12.5vw;
    line-height: 1.05;
    max-width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 12vw;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}
